# Security Warning! Do not commit this file to any VCS!
# This is a local file to speed up development process,
# so you don't have to change your environment variables.
#
# This is not applied to `.env.template`!
# Template files must be committed to the VCS, but must not contain
# any secret values.


# === General ===

DOMAIN_NAME=srcdev.org
TLS_EMAIL=webmaster@srcdev.org


# === Django ===
# Generate yours with:
# python3 -c 'import secrets; print(secrets.token_hex(50))'

DJANGO_SECRET_KEY=4A&g9OkrW]H@L={6h{w|z+{Z_Ix4#.F7GeG0x>%smUuIrH.*`*
CDN_HOST='/static/'

# === Database ===

# Used both by docker and django:
POSTGRES_DB=srcdev_user
POSTGRES_USER=postgres
POSTGRES_PASSWORD=srcdev_pass

# Used only by django:
DJANGO_DATABASE_HOST=db.lan
DJANGO_DATABASE_PORT=5432

# redis
CACHE_DEFAULT_HOST=redis.lan
CACHE_DEFAULT_PORT=36378
CACHE_DEFAULT_DB=0
